@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.ttf");
}

$mainFont: "Poppins";

// $heading-font: "Poppins", sans-serif;
// $global-font-family: "Poppins";
$global-primary-background: #195bff;
// $hero-bg-color: linear-gradient(150deg, #0a5dd3, #24a7ff);
